[Unit]
Description=OSiRIS SDN Service
After=network.target
Requires=supervisord.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/usr/share/osiris-sdn/wait_sv_sock
ExecStart=/usr/bin/supervisorctl start ryu:osiris-sdn
ExecReload=/usr/bin/supervisorctl reload ryu:osiris-sdn
ExecStop=/usr/bin/supervisorctl stop ryu:osiris-sdn

[Install]
WantedBy=multi-user.target
